@import "./variables.scss";

.green_btn {
    background: $primary-color;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 38px;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.default_btn {
    border-radius: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 9px;
        position: relative;
        top: 1px;
    }

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }
}
