@import "./variables.scss";

.cart-product {
    padding: 60px 0;

    &.profile {
        .line-block-buttons {
            display: flex;
            margin-bottom: 60px;

            button {
                margin-right: 90px;
                width: 140px;
                height: 110px;
                background: transparent;
                border-radius: 16px;
                border: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                box-sizing: border-box;
                cursor: pointer;

                svg {
                    path {
                        fill: $primary-color;
                    }
                }
            }

            .active {
                background: $primary-color;
                color: #fff;

                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        .line-tab {
            display: none;

            &.active {
                display: block;
            }
        }

        .block-order {
            background: #fff;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
            border-radius: 14px;
            padding: 24px;
            display: flex;
            margin-bottom: 40px;

            > div {
                width: 50%;

                .line {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 29px;
                    color: #000;

                    b {
                        font-weight: 500;
                    }

                    .green {
                        color: $primary-color;
                    }

                    .red {
                        color: #eb5757;
                    }
                }

                .cart-product-item {
                    padding: 15px 15px 15px 35px;
                    border-top: 1px solid #ebebeb;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .d-flex {
                        align-items: center;
                    }

                    .cart-product-img {
                        margin-right: 25px;
                        width: 80px;
                        height: 60px;
                        background: $primary-color;
                        border-radius: 4px;
                    }

                    .cart-product-name {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 15px;
                        color: #000;
                    }

                    .quantity {
                        width: 114px;
                        height: 42px;
                        background: #fcfcfc;
                        border: 1px solid #ebebeb;
                        box-sizing: border-box;
                        border-radius: 9px;
                        font-size: 12px;
                        line-height: 19px;
                        color: #000;
                        text-align: center;
                        line-height: 42px;
                        margin-right: 45px;
                    }

                    .cart-product-price {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 17px;
                        color: #000;
                    }
                }
            }
        }

        h3 {
            font-weight: 500;
            font-size: 25px;
            line-height: 25px;
            color: #000;
            margin-bottom: 25px;

            span {
                font-size: 18px;
            }
        }

        .cart-wrapper {
            align-items: flex-start;

            .form-line {
                &.g-father {
                    width: 260px;
                }

                .group-block {
                    display: flex;
                    justify-content: space-between;

                    .group-line {
                        width: 210px;

                        &.g-name {
                            width: 200px;
                        }

                        &.g-surname {
                            width: 260px;
                        }
                    }
                }

                input {
                    height: 60px;
                    width: 100%;
                    background: #fcfcfc;
                    border: 1px solid #ebebeb;
                    box-sizing: border-box;
                    border-radius: 7px;
                    padding: 0 29px;
                    font-size: 16px;
                    line-height: 64px;
                    color: #c6c6c6;
                    margin: 4px 0 18px;
                }

                select {
                    height: 64px;
                    width: 100%;
                    background: #fcfcfc;
                    border: 1px solid #ebebeb;
                    box-sizing: border-box;
                    border-radius: 7px;
                    padding: 0 29px;
                    font-size: 16px;
                    line-height: 64px;
                    color: #c6c6c6;
                    margin: 4px 0 18px;
                }

                .label {
                    font-size: 16px;
                    line-height: 24px;
                    color: #000;

                    &.active {
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 24px;
                        color: $primary-color;
                        margin-bottom: 35px;
                    }
                }
            }

            .cart-sidebar {
                width: 451px;
                margin-left: 35px;

                &.mt87 {
                    margin-top: 87px;
                }

                button {
                    width: 190px;
                    height: 55px;
                    background: $primary-color;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #fff;
                    border: none;
                }
            }

            .cart-info {
                width: 481px !important;
                flex-grow: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .photo-input {
                    display: flex;
                    align-items: center;
                    margin-bottom: 45px;

                    .photo {
                        width: 75px;
                        height: 75px;
                        margin-right: 18px;
                        background: $primary-color;
                        border-radius: 12px;
                    }

                    label {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 31px;
                        text-decoration-line: none;
                        color: $primary-color;
                        cursor: pointer;
                    }

                    input {
                        display: none;
                    }
                }
            }
        }
    }

    &.cart-product-order {
        .cart-wrapper {
            align-items: stretch;

            .card-right-side {
                width: 345px;
                height: 420px;
                background: #ffffff;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
                border-radius: 20px;

                .center {
                    margin-left: 35px;

                    .title {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 25px;
                        color: #000000;
                        margin-bottom: 40px;
                        margin-bottom: 35px;
                        padding-top: 50px;
                    }

                    .mb {
                        margin-bottom: 35px;
                    }

                    span,
                    p {
                        margin-bottom: 35px;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                    }

                    p {
                        margin-bottom: 22px;
                    }

                    button {
                        width: 140px;
                        height: 52px;
                        border-radius: 6px;
                        border: none;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 21px;
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        padding: 15px 0;
                        box-sizing: border-box;
                        cursor: pointer;
                        background: $primary-color;
                    }
                }
            }

            .sub-title {
                margin-top: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 50px;
                color: #333333;
            }

            .cart-top {
                display: flex;
                justify-content: space-between;

                .order-items {
                    width: 510px;

                    .cart-product-item {
                        padding: 15px 15px 15px 35px;
                        border-top: 1px solid #ebebeb;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .d-flex {
                            align-items: center;

                            img {
                                margin-right: 20px;
                                cursor: pointer;
                            }
                        }

                        .cart-product-img {
                            margin-right: 25px;
                            width: 80px;
                            height: 60px;
                            background: $primary-color;
                            border-radius: 4px;
                        }

                        .cart-product-name {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 15px;
                            color: #000;
                        }

                        .quantity {
                            width: 114px;
                            height: 42px;
                            background: #fcfcfc;
                            border: 1px solid #ebebeb;
                            box-sizing: border-box;
                            border-radius: 9px;
                            font-size: 12px;
                            line-height: 19px;
                            color: #000;
                            text-align: center;
                            line-height: 42px;
                            margin-right: 45px;
                        }

                        .cart-product-price {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 17px;
                            color: #000;
                        }
                    }
                }
            }

            .card-sidebar {
                margin-top: 45px;
                width: 610px;
                background: #fff;
                box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);
                border-radius: 15px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title {
                    margin-bottom: 25px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #000;
                }

                .line {
                    margin-bottom: 25px;

                    img {
                        margin-right: 15px;
                    }
                }

                .range-slide {
                    margin-top: 32px;
                    margin-left: 15px;
                    margin-right: 39px;

                    .range-line {
                        width: 100%;
                        height: 3px;
                        background: #f2f2f2;
                        border-radius: 2px;
                        position: relative;

                        &:before {
                            content: attr(data-mins);
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 13px;
                            color: #000;
                            position: absolute;
                            top: -5px;
                            left: -15px;
                        }

                        &:after {
                            content: attr(data-maxs);
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 13px;
                            color: #000;
                            position: absolute;
                            top: -5px;
                            right: -39px;
                        }

                        .green-line {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: $primary-color;
                            border-radius: 3px;
                            height: 100%;
                        }

                        .round {
                            width: 12px;
                            height: 12px;
                            background: $primary-color;
                            border: 2px solid #fff;
                            box-sizing: border-box;
                            border-radius: 50%;
                            position: absolute;
                            top: -4px;
                            left: 33%;
                            transform: translateX(-50%);

                            &:before {
                                content: attr(data-min);
                                font-weight: 500;
                                font-size: 11px;
                                line-height: 13px;
                                color: #000;
                                position: absolute;
                                top: -20px;
                                left: 0;
                                width: 200px;
                                transform: translateX(-23%);
                            }
                        }
                    }

                    .range-text {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        color: #000;
                        text-align: center;
                        margin-top: 10px;
                    }
                }
            }

            .cart-sidebar {
                width: 451px;
                margin-left: 35px;

                form {
                    &.mt87 {
                        margin-top: 87px;
                    }

                    .form-line {
                        input {
                            height: 64px;
                            width: 100%;
                            background: #fcfcfc;
                            border: 1px solid #ebebeb;
                            box-sizing: border-box;
                            border-radius: 7px;
                            padding: 0 29px;
                            font-size: 16px;
                            line-height: 64px;
                            color: #c6c6c6;
                            margin: 4px 0 18px;
                        }

                        select {
                            height: 64px;
                            width: 100%;
                            background: #fcfcfc;
                            border: 1px solid #ebebeb;
                            box-sizing: border-box;
                            border-radius: 7px;
                            padding: 0 29px;
                            font-size: 16px;
                            line-height: 64px;
                            color: #c6c6c6;
                            margin: 4px 0 18px;
                        }

                        .label {
                            font-size: 16px;
                            line-height: 24px;
                            color: #000;

                            &.active {
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 24px;
                                color: $primary-color;
                                margin-bottom: 35px;
                            }
                        }
                    }

                    button {
                        width: 190px;
                        height: 60px;
                        background: $primary-color;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        color: #fff;
                        border: none;
                        margin-top: 10px;
                    }
                }
            }

            .cart-info {
                width: auto;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .cart-sum {
                    .button-line {
                        margin-top: 35px;
                        margin-bottom: 8px;

                        button {
                            height: 32px;
                            border-radius: 10px;
                            padding: 0 10px;
                            line-height: 32px;
                            border: none;
                            font-size: 15px;
                            line-height: 11px;
                            color: #828282;
                            margin-right: 10px;
                            background: transparent;
                            min-width: 114px;

                            &.active {
                                background: $primary-color;
                                color: #fff;
                            }
                        }
                    }

                    .block-info {
                        width: 465px;
                        height: 126px;
                        background: #fff;
                        box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.06);
                        border-radius: 10px;
                        padding: 34px 30px;
                        display: flex;
                        justify-content: space-between;

                        .left-info {
                            width: 70%;

                            .line {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                &:not(last-child) {
                                    margin-bottom: 15px;
                                }

                                span {
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #000;
                                }

                                b {
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #000;

                                    &.green {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }

                        .right-info {
                            width: 30%;
                            display: flex;
                            flex-direction: column;

                            span {
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 23px;
                                color: #000;
                            }

                            b {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 24px;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    .cart-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .cart-sidebar {
            width: 30%;

            .margin {
                margin-top: 100px;
            }

            .promocode-block {
                margin: 45px 0;

                .title {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    color: #000;
                    margin-bottom: 15px;
                }

                form {
                    display: flex;
                    justify-content: space-between;

                    input {
                        width: 187px;
                        height: 50px;
                        background: #fcfcfc;
                        border: 1px solid #ebebeb;
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 0 17px;
                        line-height: 50px;
                        font-size: 14px;
                        color: #c6c6c6;
                    }

                    button {
                        width: 140px;
                        height: 32px;
                        border-radius: 10px;
                        padding: 0 10px;
                        line-height: 32px;
                        border: none;
                        font-size: 15px;
                        line-height: 11px;
                        color: #828282;
                        margin-right: 10px;
                        background: transparent;
                        min-width: 114px;

                        &.active {
                            background: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
