@import "./variables.scss";

.slick-slide div {
    width: 30px !important;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    z-index: 100;
    background: none !important;

    &:before {
        content: "→";
        color: $black !important;
    }
}

.categories {
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 23.3333px;
        line-height: 28px;
        color: #4f4f4f;

        span.active {
            color: $green;
        }
    }
}
