@import "./variables.scss";

.payment {
    padding: 45px 0 60px;

    &__title {
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: $black;
    }

    &__item {
        margin: 10px 0;

        h2 {
            font-size: 22px;
            margin: 5px 0;
            color: $black;
            font-weight: 400;
        }

        ul {
            li {
                line-height: 22px;
                margin-left: 40px;
            }
        }

        a {
            color: $green;
        }
    }

    &__btn {
        padding-top: 30px;

        .btn-left {
            margin-right: 60px;
            padding: 12px 25px;
            width: 167px;
            height: 53px;
            background: $green;
            border-radius: 7px;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 21px;
            text-align: center;
            color: $white;
        }

        .btn-right {
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 29px;
            text-align: center;
            color: $black;
        }
    }

    &__link {
        text-decoration: none;
    }
}
