@import "./variables.scss";

.products {
    padding: 40px 0;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 320px;
        margin-bottom: 56px;
    }

    &__img {
        background-color: #e6e6e6;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        a {
            margin: 12px 0 5px;
            display: block;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #333;
            text-decoration: none;
            transition: $duration;

            &:hover {
                color: $green;
            }
        }
    }

    &__description {
        font-size: 14px;
        line-height: 19px;
        color: #000;
    }

    &__rating {
        span {
            background: url(../../assets/img/empty-star.svg);
            width: 15px;
            height: 15px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;

            &.active {
                background: url(../../assets/img/star.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__price {
        b {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #000;
            margin-right: 18px;
        }
    }

    &__to-cart {
        span {
            margin-top: 13px;
            width: 140px;
            height: 38px;
            background: $green;
            border-radius: 5px;
            line-height: 38px;
            text-align: center;
            font-size: 18px;
            display: inline-block;
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__link {
        text-decoration: none;
    }
}
